<div class="row clearfix" style="background-color: white">
    <div class="col-md-12 column">
        <h3>
            List
        </h3>
        <p>
            <h4>Html</h4>
            <pre class="prettyprint">
                &lt;!-- Content Header (Page header) -->
                    &lt;section class="content-header">
                    &lt;h1>
                                公司/單位列表
                    &lt;small>&lt;/small>
                            &lt;/h1>
                    &lt;ol class="breadcrumb">
                    &lt;li>&lt;a href="#">&lt;i class="fa fa-dashboard">&lt;/i> 公司/單位&lt;/a>&lt;/li>
                    &lt;li class="active">列表&lt;/li>
                            &lt;/ol>
                        &lt;/section>
                &lt;!-- Main content -->
                        &lt;section class="content">
                                &lt;!-- Your Page Content Here -->
                        &lt;div class="row">
                        &lt;div class="col-xs-12">
                        &lt;div class="box box-success">
                &lt;!--&lt;div class="box-header">
                    &lt;h3 class="box-title">&lt;/h3>
                &lt;/div>-->&lt;!-- /.box-header -->
                        &lt;div class="box-body">
                        &lt;div class="row">
                        &lt;div class="col-md-2 column">
                        &lt;div class="form-group block_inline" style="width:100px">
                        &lt;label for="" style="visibility: hidden">--&lt;/label>&lt;br />
                        &lt;button type="submit" class="btn btn-success btn-flat" ng-click="vm.goToCreateForm()">&lt;span class="glyphicon glyphicon-plus">&lt;/span>新增資料&lt;/button>
                                                        &lt;/div>
                                                    &lt;/div>
                        &lt;div class="col-md-10 column">
                                                    &lt;/div>
                                                &lt;/div>
                        &lt;div class="row">
                        &lt;div class="col-md-12 column">
                        &lt;div ui-grid="gridOptions" ui-grid-selection class="uiGrid" ui-grid-auto-resize ui-grid-click style="height: 400px;">&lt;/div>
                                                    &lt;/div>
                                                &lt;/div>
                                &lt;/div>&lt;!-- /.box-body -->
                            &lt;/div>&lt;!-- /.box -->
                        &lt;/div>
                    &lt;/div>
                &lt;/section>&lt;!-- /.content -->
            </pre>
        </p>
        <p>
            <h4>Angular js</h4>
            <pre class="prettyprint">
                                
                angular.module('app', []).controller('customerCompanyListCtrl', ['$scope', '$state', '$rootScope', 'CustomerFactory', function ($scope, $state, $rootScope, CustomerFactory) {
                    // 宣告vm
                    $scope.vm = {};
                    //動作
                    //ui-grid修改訂單按鈕事件
                    $scope.edit = function (obj) {
                        $rootScope.selectedCompany = obj;
                        $state.go("m.order.detail");
                    };
                    // 轉到新增頁面
                    $scope.vm.goToCreateForm = function () {
                        $state.go('m.customerCompany.create');
                    };
                    // 取得所有公司
                    CustomerFactory.getAllCompany().success(function (data) {
                        $scope.gridOptions.data = data;
                        debugger;
                    }).error(function (err) {
                        console.log(err);
                    });
                    $scope.gridOptions = {};
                    $scope.gridOptions = { enableRowSelection: true, enableRowHeaderSelection: true };
                    $scope.gridOptions.columnDefs = [
                       { name: 'EditOrder', displayName: '修改', cellTemplate: '&lt;button type="button" class="btn btn-small bg-purple btn-flat" ng-click="grid.appScope.edit(row.entity)" helf=>編輯訂單&lt;/button&gt; ', width: 100, pinnedLeft: true },
                       { name: 'CompanyName', displayName: '公司/單位名稱', width: 150 },
                       { name: 'Aliases', displayName: '別名', width: 120 },
                       { name: 'VATnumber', displayName: '統一編號', width: 120 },
                       { name: 'CompanyAddress', displayName: '地址', width: 220 },
                       { name: 'CompanyTel1', displayName: '電話', width: 120 },
                       { name: 'CompanyFax', displayName: '傳真', width: 120 }
                    ];
                }]);
            </pre>
        </p>
    </div>
</div>

<script>
    prettyPrint();
</script>
