<!-- Content Header (Page header) -->
<section class="content-header">
    <button type="submit" class="btn btn-default btn-flat" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span>回列表</button>
    <br />
    <br />
    <h1>
        明細
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:"><i class="fa fa-dashboard"></i> 列表 </a></li>
        <li class="active">明細</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row" style="width:100%;text-align:right">
                        <div class="col-md-12">
                            <div class="form-group block_inline">
                                <button type="submit" class="btn btn-success btn-flat block_inline" ng-click="viewAction.save()">儲存</button>&nbsp;&nbsp;
                                <button type="submit" class="btn btn-danger btn-flat block_inline" ng-if="vm.isEdit" ng-click="viewAction.remove()">刪除</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <form class="form" name="signup_form" novalidate>
                                <h2>表單驗證</h2>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr class="view_tr">
                                        <td class="view_big_title" colspan="2">
                                            個人資料
                                        </td>
                                        <td class="view_big_title" colspan="2">
                                            訂單
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title"><span class="spanKeyin">*</span>姓名</td>
                                        <td class="view_content">
                                            <input type="text" ng-model="vm.singleObj.Name" class="k-textbox" name="name" required />
                                            <br />
                                            <div class="error"
                                                 ng-show="signup_form.name.$invalid && signup_form.submitted">
                                                <small class="error"
                                                       ng-show="signup_form.name.$error.required">
                                                    姓名為必填欄位!!
                                                </small>
                                            </div>
                                        </td>
                                        <td class="view_title">自動完成</td>
                                        <td class="view_content">
                                            <autocomplete name="autocomplete" ng-model="vm.singleObj.AutoComplete" class="k-textbox"  attr-placeholder="自動完成" click-activation="true" data="autoComplete.allOptions" on-type="autoComplete.onType" on-select="autoComplete.onSelect" required></autocomplete>
                                            <br />
                                            <div class="error"
                                                 ng-show="signup_form.autocomplete.$invalid && signup_form.submitted">
                                                <small class="error"
                                                       ng-show="signup_form.autocomplete.$error.required">
                                                    必填欄位!!
                                                </small>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title"><span class="spanKeyin">*</span>電話(手機)</td>
                                        <td class="view_content">
                                            <input type="text" ng-model="vm.singleObj.Phone" name="tel" class="k-textbox" ng-minlength=7 ng-maxlength=10 ng-pattern="/^[0-9]+$/" required />
                                            <br />
                                            <div class="error"
                                                 ng-show="signup_form.tel.$dirty && signup_form.tel.$invalid">
                                                <small class="error"
                                                       ng-show="signup_form.tel.$error.required">
                                                    電話為必填欄位!!
                                                </small>
                                                <small class="error"
                                                       ng-show="signup_form.tel.$error.minlength">
                                                    電話號碼至少要7碼!!
                                                </small>
                                                <small class="error"
                                                       ng-show="signup_form.tel.$error.maxlength">
                                                    電話號碼不能超過10碼!!
                                                </small>
                                                <small class="error"
                                                       ng-show="signup_form.tel.$error.pattern">
                                                    電話號碼不能含非數字以外的字元!!
                                                </small>
                                            </div>
                                        </td>
                                        <td class="view_title">下拉選單</td>
                                        <td class="view_content">
                                            <select ng-model="vm.singleObj.Select" name="category" kendo-drop-down-list k-options="select.allOptions" required></select>
                                            <br />
                                            <div class="error"
                                                 ng-show="signup_form.category.$invalid && signup_form.submitted">
                                                <small class="error"
                                                       ng-show="signup_form.category.$error.required">
                                                    請選擇選項!!
                                                </small>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">地址</td>
                                        <td class="view_content">
                                            <input type="text" ng-model="vm.singleObj.Address" name="address" class="k-textbox" />
                                        </td>
                                        <td class="view_title">Checkbox</td>
                                        <td class="view_content">
                                            <input type="checkbox" class="k-checkbox" ng-model="vm.singleObj.IsChecked"/>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title"><span class="spanKeyin">*</span>E-mail</td>
                                        <td class="view_content">
                                            <input type="email" ng-model="vm.singleObj.Email" name="email" class="k-textbox" required  />
                                            <br />
                                            <div class="error"
                                                 ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="error"
                                                       ng-show="signup_form.email.$error.required">
                                                    E-mail為必填欄位!!
                                                </small>
                                                <small class="error"
                                                       ng-show="signup_form.email.$error.email">
                                                    E-mail的格式錯誤!!
                                                </small>
                                            </div>
                                        </td>
                                        <td class="view_title">產品價格</td>
                                        <td class="view_content">
                                            <input type="text" ng-model="vm.singleObj.Number" class="k-textbox" onkeyup="return ValidateNumber($(this),value)" placeholder="只能輸入數字"  />
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_big_title" colspan="4">
                                            產品設定
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">起訖日期</td>
                                        <td class="view_content" colspan="3">
                                            <input kendo-date-picker k-ng-model="k_StartDate" ng-model="vm.singleObj.StartDate" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" onkeydown="return false;" ng-change="dateTime.compareStartEndDate()" />
                                            ~
                                            <input kendo-date-picker k-ng-model="k_EndDate" ng-model="vm.singleObj.EndDate" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" onkeydown="return false;" ng-change="dateTime.compareStartEndDate()" />
                                            <div class="error"
                                                 ng-show="signup_form.isDateError">
                                                <small class="error"
                                                       ng-show="true">
                                                    結束日期需大於起始日期
                                                </small>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">起迄時間</td>
                                        <td class="view_content" colspan="3">
                                            <input class="k-timepicker" kendo-time-picker k-ng-model="k_StartTime" ng-model="vm.singleObj.StartTime" k-format="'HH:mm'" onkeydown="return false;" ng-change="dateTime.compareStartEndTime()"/>
                                            ~
                                            <input class="k-timepicker" kendo-time-picker k-ng-model="k_EndTime" ng-model="vm.singleObj.EndTime" k-format="'HH:mm'" onkeydown="return false;" ng-change="dateTime.compareStartEndTime()"/>
                                            <div class="error"
                                                 ng-show="signup_form.isTimeError">
                                                <small class="error"
                                                       ng-show="true">
                                                    結束時間需大於起始時間
                                                </small>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">Radio Btn (單選)</td>
                                        <td class="view_content" colspan="3">
                                            <label class="radio-inline" ng-repeat="item in radio.allOptions">
                                                <input type="radio" ng-model="$parent.vm.singleObj.Radio" class="k-radio" value="{{item.value}}" > {{item.text}}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">Checklist (多選)</td>
                                        <td class="view_content" colspan="3">
                                            <label class="checkbox-inline" ng-repeat="item in checklist.allOptions">
                                                <input type="checkbox" checklist-model="vm.singleObj.Checklist" checklist-value="item" />{{item.text}}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">單張圖片上傳</td>
                                        <td class="view_content" colspan="3">
                                            <div class="product_edit_img edit" style="background-image: url({{vm.singleObj.PHOTO_BASE64}})">
                                                <input type="file" class="upload" file-model="vm.singleObj.PHOTO_FILE" onchange="angular.element(this).scope().handleFileImg()" />
                                                <div class="upload_btn"><i class="fa fa-camera"></i>&nbsp;上傳圖片</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td class="view_title">CKeditor</td>
                                        <td colspan="3" class="view_ckeditor">
                                            <textarea name="editor" style="width: 98%; height: 250px; margin: 0 auto;"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="table_br" colspan="4"></td>
                                    </tr>
                                    <tr class="view_tr">
                                        <td class="view_title">額外需求</td>
                                        <td class="view_content" colspan="3">
                                            <div id="tabstrip">
                                                <ul>
                                                    <li class="k-state-active">型號</li>
                                                    <li>圖片</li>
                                                    <li>廣告</li>
                                                </ul>
                                                <div>
                                                    <h2>型號</h2>
                                                    <p>型號內容</p>
                                                </div>
                                                <div>
                                                    <h2>圖片</h2>
                                                    <p>圖片內容</p>
                                                </div>
                                                <div>
                                                    <h2>廣告</h2>
                                                    <p>廣告內容</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

    </div>



</section><!-- /.content -->

<script>
        var username = "userName";
        var folder = "ckeditor";
        var editor = CKEDITOR.replace('editor', { filebrowserImageUploadUrl: '/mvc/files?userName=' + username + '&folder=' + folder });
</script>
