
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:"><b>{{appName}}</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">請輸入您的密碼</p>
        <form>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="帳號" ng-model="vm.Member.UserName" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="信箱" ng-model="vm.Member.Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="舊密碼" ng-model="vm.Member.OldPassword" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="新密碼" ng-model="vm.Member.NewPassword" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="確認新密碼" ng-model="vm.Member.ConfirmPassword" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="vm.changePass()">更改密碼</button>
                </div><!-- /.col -->
            </div>
        </form>
        <!--<div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div>-->
        <!-- /.social-auth-links -->
        <!--<a href="#">忘記密碼</a><br>-->
        <!--<a href="register.html" class="text-center">註冊帳號</a>-->
    </div><!-- /.login-box-body -->
</div>

<script>
    window.iCheckBinding();
</script>


